OOF WAVE "sounds/oof.wav"
MAIN WAVE "sounds/main.wav"
ARMADURA1 WAVE "sounds/armadura1.wav"
ESPADA1 WAVE "sounds/espada1.wav"
GAMEOVER WAVE "sounds/gameover.wav"
ESCALERA1 WAVE "sounds/escalera1.wav"
ESCALERA2 WAVE "sounds/escalera2.wav"
HIT WAVE "sounds/hit.wav"
PASO1 WAVE "sounds/paso1.wav"
PASO2 WAVE "sounds/paso2.wav"
PUERTA WAVE "sounds/puerta.wav"
CLICK WAVE "sounds/click.wav"
DEAGON WAVE "sounds/dragon.wav"
MAINICON ICON "icono.ico"
